.contact{
    padding:6.25rem 1.25rem;
}
textarea , input{
width: 100%;
padding: .62rem;
margin-top:.62rem;
margin-bottom: .62rem;
border: 1px solid #f0c9ff;
border-radius: 5px;
color:#495057 ;
background: transparent;
}
textarea:focus, 
input:focus{
    outline: 0;
    box-shadow: none;
}
.half-flex{
    display: flex;
   
}
.contact-email{
    padding-left: .92rem;
    flex: 1;
}
.contact-firstname{
    padding-right: .92rem;
    flex: 1;
}
.contact-send{
    margin-top: 1.87rem;
}

@media only screen and (max-width:991px){
    .half-flex{
        flex-direction: column;
    }
    .contact-firstname,.contact-email{
        padding: 0;
    }
}